@media (max-width:767px) {
  .change_header {
    background-color: var(--color-blue);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    color: #fafafa;
  }
  .Header .inner:nth-last-of-type(1) {
    padding: 0 30px;
    border-bottom: none;
  }
  .nav_wrap {
    display: flex;
    overflow-x: auto;
  }
  .Nav {
    width: 340px;
  }
  .Nav > div {
    padding-right: 40px;
    color: #fff;
  } 
  .Nav ul {
    
  }
  .Nav .navbar:nth-child(3):after,.Nav .navbar:nth-child(4):after, .Nav .navbar:nth-child(5):after {
    display: none;
  }
  .SideMenu > div {
    display: none;
  }

}