@media (max-width:767px) {
  .Info {
    padding-top: 2.3rem;
  }
  .Info > .inner {
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 15.3rem;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
  }
  .Info > .inner > .info_site {
    padding-right: 0;
    white-space: nowrap;
    max-width: 23rem;
  }
  .Info > .inner > .info_site > .info_logo img {
    border-radius: 50%;
  }
  .Info > .inner > .info_site > .info_logo::after {
    display: none;
  }
  .Info > .inner > .info_site > .info_detail > .bold {
    font-size: 1.3rem;
    color: #fff;
  }
  .Info > .inner > .info_site > .info_detail > .description {
    color: #ccc;
  }
  .Info > .inner > .info_intro {
    display: none;
  }
  .icon_menu {
    display: flex;
    justify-content: center;
    background-color: var(--color-blue);
  }

  .menu_item {
    background-color: var(--color-blue);
    text-align: center;
    padding: 0.7rem;
  }

  .menu_item:last-child {
    border-right: none;
  }

  .icon {
    font-size: 1.1rem;
    color: #fff;
  }

  .label {
    display: block;
    margin-top: 0.3rem;
    font-size: 1rem;
    color: #fff;
    white-space: nowrap;
  }
}