@media (max-width:767px) {
  .Main > .inner {
    padding: 0 1.5rem;
  }
  .info_intro_mobile {
    display: block;
    width: 100%;
  }
  .info_intro_mobile .info_title {
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
  }
  .info_intro_mobile .info_title::before {
    display: inline-block;
    content: '';
    height: 1.9rem;
    width: 0.3rem;
    background-color: var(--color-blue);
    position: absolute;
    top: 0;
    left: -1.5rem;
  }
  .info_intro_mobile .info_txt {
    padding-top: 1.5rem;
    line-height: 1.5;
  }
  .nav_main_wrap {
    overflow-x: hidden;
    display: block;
    margin: 2.3rem 0;
    padding: 0.7rem 1.5rem;
    max-width: 27.6rem;
    background-color: var(--color-blue);
    border-top: 0.6rem solid #ddd;
    border-bottom: 0.6rem solid #ddd;
  }
  .nav_main_wrap > ul {

  } 
  .nav_main_wrap > ul > li{
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.7rem 0;
  }
  .hide_on_mobile {
    display: none !important;
  }
}