@media (max-width:767px) {
  .Main > .inner {
    padding: 0 20px;
  }
  .info_intro_mobile {
    display: block;
    width: 100%;
  }
  .info_intro_mobile .info_title {
    font-weight: bold;
    font-size: 18px;
    position: relative;
  }
  .info_intro_mobile .info_title::before {
    display: inline-block;
    content: '';
    height: 25px;
    width: 5px;
    background-color: var(--color-blue);
    position: absolute;
    top: 0;
    left: -20px;
  }
  .info_intro_mobile .info_txt {
    padding-top: 20px;
    line-height: 1.5;
  }
  .nav_main_wrap {
    overflow-x: hidden;
    display: block;
    margin: 30px 0;
    padding: 10px 20px;
    max-width: 360px;
    background-color: var(--color-blue);
    border-top: 8px solid #ddd;
    border-bottom: 8px solid #ddd;
  }
  .nav_main_wrap > ul {

  } 
  .nav_main_wrap > ul > li{
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
  }
  .hide_on_mobile {
    display: none !important;
  }
}