@media (max-width:767px) {
  .Submap {
    padding: 0;
    padding-bottom: 30px;
  }
  .Submap > .inner {
    padding: 0 20px;
  } 
  .Submap > .inner > .map_area {
    padding-top: 30px;
    display: flex;
    justify-content: left;
    align-items:flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .Submap > .inner > .map_area > .map_address {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .Submap > .inner > .map_area > .map_address > .map_address_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .Submap > .inner > .map_area > .map_address h2:nth-of-type(1) {
    display: block;
    color: var(--color-black);
  }
  .Submap > .inner > .map_area > .map_address .map_btn {
    display: none;
  }
  .Submap > .inner > .map_area > .map_address h2 {
    font-size: 15px;
    color: #999;
  }
  .map_address, .map_time, .map_tel, .map_info {
    width: 100%;
    border-top: 1px none;
    padding-top: 30px;
    display: flex;
    gap: 10px;
    font-size: 13px;
  }
  .map_address, .map_time, .map_tel, .map_info {
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding-top: none;
    display: flex;
    gap: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }
}