@media (max-width:767px) {
  .Summary {
    width: 100%;
    padding-top: 0;
  }
  .Summary > .inner {
    padding: 0 1.5rem;
  }
  .Summary > .inner > .summary_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    margin-bottom: 0.5rem;
  }
  .Summary > .inner > .summary_area > .title {
    position: relative;
    border-bottom: none;
    color: var(--color-black);
  }
  .Summary > .inner > .summary_area > .title::before {
    display: inline-block;
    content: '';
    height: 1.9rem;
    width: 0.3rem;
    background-color: var(--color-blue);
    position: absolute;
    top: -0.3rem;
    left: -1.5rem;
  }
  .Summary > .inner > .summary_area .more_btn {
    display: none;
  }
  
  .Summary > .inner > .img_area {
    max-width: 20rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 1.9rem;
  }
  .Summary > .inner > .img_area > .hover_img {
    transition: 0.3s;
    max-width: 20rem;
  }
  .Summary > .inner > .img_area > .hover_img:hover {
    transform: scale(1.05);
  }
  .Summary > .inner > .img_area > .detail {
    max-width: 40.7rem;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-blue);
  }
  .Summary > .inner > .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ebebeb;
    margin-top: 2.3rem;
  }
  .Summary > .inner > .btn > .more_btn_mobile {
    color: var(--color-gray);
    width: 3.0rem;
    cursor: pointer;
    position: relative;
    padding-right: 0.3rem;
    padding: 1.5rem 0;
    text-align: center;
  }
  .Summary > .inner > .btn > .more_btn_mobile::after {
    content: ">";
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    width: 0.7rem;
    height: 10px;
    display: 0.7rem;
  }
}