@media (max-width:767px) {
  .Subsns {
    width: 100%;
    padding: 0;
    padding-bottom: 2.3rem;
  }
  .Subsns > .inner {
    padding: 0 1.5rem;
  }
  .Subsns > .inner > .subsns_area {
    margin-bottom: 1.5rem;
  }
  .post_wrapper {
    padding: 0.7rem 0;
    border-bottom: 1px solid #ebebeb;
  }
  .card {
    flex: 1 1 calc(33.333% - 1.2rem); /* 3개씩 배치 */
    background-color: #fff;
    padding: 0;
    max-width: 25.3rem;
    height: 10rem;
  }
  .title {
    font-size: 1rem;
  }
  .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 9.8rem;
    line-height: 1.5rem;
  }
  .meta_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .meta_info > .author {
    display: none;
  }
  .meta_info > .id {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .meta_info .logo {
    display: block;
    width: 30px;
    height: 30px;
  }
  .more {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding: 0.2rem 0px 1.3rem;
  }
  .more > p {
    text-align: center;
    color: #bbb;
  }
  .more span {
    border-bottom: 1px solid #000;
    margin-right: 0.5rem;
    color: #000;
  }
}