@media (max-width:767px) {
  .Summary {
    width: 100%;
    padding-top: 0;
  }
  .Summary > .inner {
    padding: 0 20px;
  }
  .Summary > .inner > .summary_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    margin-bottom: 10px;
  }
  .Summary > .inner > .summary_area > .title {
    position: relative;
    border-bottom: none;
    color: var(--color-black);
  }
  .Summary > .inner > .summary_area > .title::before {
    display: inline-block;
    content: '';
    height: 25px;
    width: 5px;
    background-color: var(--color-blue);
    position: absolute;
    top: 0;
    left: -20px;
  }
  .Summary > .inner > .summary_area .more_btn {
    display: none;
  }
  
  .Summary > .inner > .img_area {
    max-width: 320px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 25px;
  }
  .Summary > .inner > .img_area > .hover_img {
    transition: 0.3s;
    max-width: 320px;
  }
  .Summary > .inner > .img_area > .hover_img:hover {
    transform: scale(1.05);
  }
  .Summary > .inner > .img_area > .detail {
    max-width: 530px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    color: var(--color-blue);
  }
  .Summary > .inner > .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ebebeb;
    margin-top: 30px;
  }
  .Summary > .inner > .btn > .more_btn_mobile {
    color: var(--color-gray);
    width: 40px;
    cursor: pointer;
    position: relative;
    padding-right: 5px;
    padding: 20px 0;
    text-align: center;
  }
  .Summary > .inner > .btn > .more_btn_mobile::after {
    content: ">";
    position: absolute;
    top: 20px;
    right:-15px;
    width: 10px;
    height: 10px;
    display: inline-block;
  }
}